body{
    background: url(https://www.noupe.com/wp-content/uploads/2009/10/baroque-pattern.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
 }
 .inputContainer{
    padding: 15px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: gold;
 }
 button{
     
    background-color: rgb(131, 255, 0);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin-bottom: 25px;
 }
 
 #title{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: rgb(255, 227, 20);
 }
 input{
    width: 500px;
 }
 textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
 }