


#acc{
    text-align: center;
 }
 
 .userPass{
    font-size: 26px;
    text-align: center;
    padding: 15px;
    font-family: 'Acme', sans-serif;
 }
 
 body{
    margin-top: 150px;
    background: url(http://www.pptbackgrounds.org/uploads/floral-frame-with-brown-powerpoint-backgrounds.jpg
 )
 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
 
 
 }
 
 #buttonPush{
    display: flex;
    justify-content: center;
 
 }
 
 #loginPage{
 
    color: aliceblue;
 }
 #loginPage2{
    text-align: center;
    padding-left: 70px;
    margin-top: 10px;
 }
 #mainTitle{
    font-size: 60px;
    text-align: center;
    font-family: 'Corben', cursive;
 }
 input{
    width: 250px;
 }
 button{
    font-size: 26px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
 }
 h1{
    font-size: 40px;
    font-family: 'Corben', cursive;
 }
 p{
     display: flex;
     justify-content: center;
     font-size: 26px;
     font-weight: bold;
 }