@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Gudea:700');
/* GOOGLE FONTS */

/* font-family: 'Fredericka the Great', cursive; */

/* font-family: 'Gudea', sans-serif; */

/* COLOR PALETTE */

/* https://coolors.co/36151e-839791-593f62-e3b23c-edebd7 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
@media only screen and (max-width: 360px) {
    ul {
        
        padding-left: 20px;
    font-size: 30px;
    }
    #displayname,#location,#contact,#smalldiscription{
        font-size: 40px;
       
    }
    #fullMessageInput{
        font-size: 8px;
    }
    


}
@media only screen and (max-width: 320px){
    ul{ 
        width: 110%;
        font-size: 30px;

    }
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

ul input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: white;
}
:root {
    --primaryDark: #36151E;
    --primaryLight: #EDEBD7;
    --accent: #E3B23C;
    --alternate: #593F62;
    --addedPadding: 10px;
}

html,
body,
h1,
p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(http://www.digitalrevolutions.biz/wp-content/uploads/2009/07/abstract_circles_background_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
label,
#submitButton {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}

input,
#allMessages>p {
    font-family: 'Gudea', sans-serif;
}

h1 {
    font-size: 69px;
    color: rgb(0, 49, 130);
    text-align: center;
    font-family: 'Ranga', cursive;
}

#allMessages {
    flex: 1;
    margin-top: 15px;
    width: calc(60% + var(--addedPadding)*2);
    height: 500px;
    padding: var(--addedPadding);
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(237, 40, 40);
    color: black;
    overflow: auto;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}

#allMessages>p {
    text-indent: -2em;
    margin-left: 2em;
}

.userContainer {
    margin: 20px 0 40px 0;
    width: 60%;
    border: 2px solid var(--accent);
    background-color: whitesmoke;
}

label {
    font-size: 30px;
    color: var(--primaryDark);
    font-family: 'Anton', sans-serif;
}

input {
    font-size: 1.3em;
    background: none;
    border: unset;
    border-bottom: var(--alternate) 2px solid;
    caret-color: var(--accent);
    color: black;
}

input:focus {
    outline: none;
}

.userContainer {
    padding: var(--addedPadding);
}

form,
.inputContainer,
.singleInput {
    display: grid;
    grid-gap: var(--addedPadding);
}

form {
    grid-template: auto/1fr auto;
}

.inputContainer {
    grid-template: auto auto/auto;
}

.singleInput {
    grid-template: auto/auto 1fr;
}

#submitButton {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 1.3em;
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
}

#submitButton:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
}

#submitButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}
@media screen and (max-width: 500px){
    #mian{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
h2{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    color: black;
    font-family: 'Itim', cursive;
}
h3{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    color: black;
    font-family: 'Itim', cursive;
    padding: 20px;
}
#Welcome{
    text-decoration: underline;
    font-size: 64px;
    color: rgb(22, 26, 61);
}
/* #editProfileButton{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
} */
/* #logOutButton{
    font-size: 20px;
    background-color: green;
} */

#peepz{
    text-align: center;
    font-size: 92px;
    color: rgb(138, 226, 216);;
    font-family: 'Concert One', cursive;
    text-decoration: underline;
}


#pfp{
    color: rgb(138, 226, 216);
    display: inline;
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;

}
#pfp1{
    color: rgb(138, 226, 216);
    display: inline;
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;
}
#pfp2{
    color: rgb(138, 226, 216);
    display: inline;
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;
}
#pfp3{
    color: rgb(138, 226, 216);
    display: inline;
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;
}

.peeps{
    display: inline;
    border: 7px solid black;
   padding-left: 65px;
   padding-top: 30px;
    
}

#datway{
    border: 7px solid black;
}
.peeps1{
    display: inline;
    border: 7px solid black;
   padding-left: 65px;
   padding-top: 30px;
}
.peeps2{
    display: inline;
    border: 7px solid black;
   padding-left: 65px;
   padding-top: 30px;
}
.peeps3{
    display: inline;
    border: 7px solid black;
   padding-left: 65px;
   padding-top: 30px;
}
#datway1{
    border: 7px solid black;
}
#datway2{
    border: 7px solid black;
}
#datway3{
    border: 7px solid black;
}
#searchSubmit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}